package {{.ModuleName}}

import "go.uber.org/dig"

func RegisterDependencies(container *dig.Container) {
	// SQL-only (MongoDB backend removed)
	container.Provide(NewSQLRepository)
	container.Provide(NewService)
	container.Provide(NewController)
	container.Provide(NewRoute)
}
